* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-color: #ffffff;
    font-family: "Comic Sans MS", "Segoe UI", cursive;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

/*---------------------- body_left -------------------------*/
.body_left {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 110px;
    z-index: 98;
}

.body_left img {
    width: 100%;
    height: auto;
}
/*---------------------- body_left -------------------------*/


/*---------------------- body_center -------------------------*/
.container .love {
    width: 520px;
    height: 440px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.love .block {
    position: absolute;
    right: 0;
    visibility: hidden;
}

.love .block div {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url("../images/heart.jpg") no-repeat center;
    background-size: contain;
}
/*---------------------- body_center -------------------------*/


/*---------------------- footer -------------------------*/
.footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 99;
}

.footer .copyright {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.copyright div {
    width: 30%;
    line-height: 30px;
    display: inline-block;
}

.copyright div span {
    color: dimgray;
}
/*---------------------- footer -------------------------*/


/*---------------------- FINAL MESSAGE -------------------------*/
.final-message {
    position: fixed;
    bottom: 80px;
    width: 100%;
    text-align: center;

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;

    font-family: "Comic Sans MS", "Segoe UI", cursive;

    color: #e60073;  /* Soft magenta pink */

    opacity: 0;
    transform: translateY(40px);
    transition: all 2s ease;

    z-index: 100;
}

.show-message {
    opacity: 1;
    transform: translateY(0);
}
